*{
    font-family: 'Oswald', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border:none;
    text-transform: capitalize;
    transition:all .2s linear;
}

h1, h3{
    font-family: 'Oswald', sans-serif;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
html::-webkit-scrollbar{
    width:1.5rem;
}

html::-webkit-scrollbar-track{
   background:#eee;
}

html::-webkit-scrollbar-thumb{
    background:#6E8A3C;
}
body{
    overflow-x: hidden;
position:relative;
}
section{
    min-height: 100vh;
    padding:1rem 10%;
    padding-top: 8.5rem;
}
header{
    position: fixed;
    top: 0; left: 0;
    z-index: 1000;
    width: 100%;
    background: #fff;
    padding: 0.2rem 2%;
    box-shadow: 0 0.3rem 2rem rgb(0 0 0 / 10%);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .logo img{
    height:6rem;
}

header .navbar a{
    font-size: 1.7rem;
    color:#666;
    margin-left: 4rem;
}

header .navbar a:hover{
    color: #58c93a;
}

#menu{
    font-size: 3rem;
    color:#666;
    cursor: pointer;
    padding:.5rem 1rem;
    border:.2rem solid rgba(0,0,0,.2);
    border-radius: .5rem;
    display: none;
    }
#home
{
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
        position: relative;
        display: flex;
    
}
#home .video-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: -1;
  }
  
  #home .video-container .vid {
    position: absolute;
    height: 100vh;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    display: block;
      
  }
  
.content{
    text-align: center;
    margin-top: 8.5rem;

}
.content h1{
    font-weight: bold;
    color:#F7CA3E;
    font-size: 5rem;

}
.content p{
    color:#F7CA3E;
    font-size: 2.5rem;
}
.btn
{
    outline: none;
    border: none;
    border-radius: 5rem;
    color: #333;
    font-size: 1.3rem;
    font-weight: bold;
    text-transform: capitalize;
    letter-spacing: 0.1rem;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
    height: 3rem;
    width: 10rem;
    background: #FFF;
    margin: 20px;
}
.btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: #FFF200;
    height: 100%;
    width: 0%;
    -webkit-transition: .2s;
    transition: .2s;
    z-index: -1;
  }
  
.btn:hover::before {
    width: 100%;
  }
  .product .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.product h1 {
    text-align: center;
    font-size: 2.5rem;
    color: #333;
    padding: 1.5rem;
}
.product .box-container .box{
   /* border:.1rem solid rgba(0,0,0,.1);  */
    margin:2rem;
    background:#fff;
    width: 32rem;
    text-align: center;
  
}
.product .box-container .box:hover{
    transform: scale(1.1);
}

.product .box-container .box img{
    height:28rem;
    width:32rem;
    object-fit: cover;
    border-radius: 1rem;
}

.product .box-container .box h3{
    font-size: 2rem;
    color:var(--green);
}

.product .box-container .box .icons{
    padding:1rem 0;
}

.product .box-container .box .icons a{
    font-size: 1.5rem;
    color:#666;
    height:5rem;
    width:5rem;
    line-height: 5rem;
    border:.1rem solid rgba(0,0,0,.1);
    border-radius: .5rem;
    margin:.5rem;
}
.box .liked{
    color: red !important;
}
.product .box-container .box .icons a:hover{
    background:#eee;
}
.product .box-container .box .icons a:active{
    background:rgb(226, 66, 66)129, 33, 33);
}
#popUp{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    background-color: rgba(0,0,0,.59);
    z-index: 1000;
    transition: all linear .5s;

}
.pop-image{
    width: 1020px;
    height: 800px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    overflow: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all linear .5s;
}
.pop-image img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    transition: all linear .5s;

}
.close{
    position: absolute;
    font-size: 22px;
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 5px;
    cursor:pointer;
    left: 95%;
    border-radius: 50%;
    background: transparent;
    border: 2px solid white;
    color: white;
    transition: all linear .5s;
    
}

/* Media Queries */

@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .home .content{
        padding:0;
    }

    #scroll-top{
        bottom:3rem;
    }

}
@media (max-width:788px){

    #menu{
        display: block;
    }

    header{
        padding:2rem 3%;
    }

    header .navbar{
        position: absolute;
        top:100%;
        left:0;
        width:100%;
        background:#f9f9f9;
        text-align: center;
        padding:2rem 0;
        border-top: .1rem solid rgba(0,0,0,.1);
        transform: scaleY(0);
        transform-origin: top;
        opacity: 0;
    }

    header .navbar.nav-toggle{
        transform: scaleY(1);
        opacity: 1;
    }

    header .navbar a{
        display: block;
        padding:1rem 0;
        margin:1rem 0;
        font-size: 2.5rem;
    }
    header .navbar a:hover{
	color: #58c93a;
    }

    section{
        padding:0 3%;
        padding-top: 9rem;
    }

    .home .content{
        width: auto;
    }

}
@media (max-width:400px){

    html{
        font-size: 50%;
    }

}