*{
    font-family: 'Roboto', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border:none;
    text-transform: capitalize;
    transition:all .2s linear;
}

h1, h3{
    font-family: 'Oswald', sans-serif;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
body{
    overflow-x: hidden;
}
section{
    min-height: 100vh;
    padding:1rem 10%;
    padding-top: 8.5rem;
}
header{
    position: fixed;
    top:0; left:0;
    z-index: 1000;
    width:100%;
    background:#fff;
    padding:1.5rem 10%;
    box-shadow: 0 .3rem 2rem rgba(0,0,0,.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .navbar ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

header .navbar ul li{
    margin-left: 3rem;
}

header .navbar ul li a{
    font-size: 1.7rem;
    color:#666;
}

header .navbar ul li a.active,
header .navbar ul li a:hover{
    color: #58c93a;
}

header #menu-bar{
    font-size: 3rem;
    color:#666;
    cursor: pointer;
    display: none;
}
.content{
    text-align: center;

}
.content h3{
    font-size: 30px;
    font-weight: bold;
    color:#F7CA3E;
}
.content p{
    color:#F7CA3E;
    font-size: 18px;
}
.btn
{
    outline: none;
    border: none;
    border-radius: 5rem;
    color: #333;
    font-size: 1.3rem;
    font-weight: bold;
    text-transform: capitalize;
    letter-spacing: 0.1rem;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
    height: 3rem;
    width: 10rem;
    background: #FFF;
    margin: 20px;
}
.btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: #FFF200;
    height: 100%;
    width: 0%;
    -webkit-transition: .2s;
    transition: .2s;
    z-index: -1;
  }
  
.btn:hover::before {
    width: 100%;
  }
#home .video-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: -1;
}

#home .video-container .vid {
  position: absolute;
  height: 100vh;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: none;
}

#home .video-container .vid1 {
  display: block;
}